<!doctype html>
<html>
  <head>
     <link href="/static/css/profile.css" rel="stylesheet" >
  </head>
  <body>
    <img src="/static/img/davyan.jpg">
    <div class="profile">
      <div class="box"><h1> davyan </h1></div>
      <br>
      <div class="box"><p> Today is: {{ now }}</p></div>
      
      <div class="box">
        <p> Username: davyan </p>
        <p> ID: 620041848 </p>
        <p> Sex: male </p>
        <p> Age: 22 </p>
        <p> Highest Score: 120 </p>
        <p> TDollars: 200 </p>
      </div>
      
      <div class="box">
        <a href="http://www.free-iqtest.net" title="Free IQ Test"><img src="http://www.free-iqtest.net/images/badges2/l141.gif" width="200" height="100" alt="Free IQ Test" border="0"></a><br/><a title="Free IQ Test" href="http://www.free-iqtest.net">Free IQ Test</a>
      </div>
    </div>
  </body>
</html>